<a
        href="#reference_types/list"
        id="nav-reference_types"
        data-url="{{ path('open_orchestra_api_reference_type_list') }}"
        data-displayed-elements="reference_type_id, name"
        data-translated-header="{{ 'itkg_reference_bundle.form.reference_type.id'|trans }},
                {{ 'itkg_reference_bundle.form.reference_type.name'|trans }}"
        title="{{ 'itkg_reference_bundle.navigation_panel.administration.reference_type.list'|trans }}"
        >
    {{ 'itkg_reference_bundle.navigation_panel.administration.reference_type.list'|trans }}
</a>
