{% macro menu_reference_types_for_reference(referenceTypes, name) %}
    {% for referenceType in referenceTypes %}
        <li
            data-element-id="{{ referenceType.referenceTypeId }}"
            data-type="ReferenceType"
        >
            {%  set displayed =  'reference_id, name' %}
            {%  set translated = 'open_orchestra_backoffice.table.reference_type.reference_id'|trans ~ ',' ~
                'open_orchestra_backoffice.table.reference_type.name'|trans %}
            {% set visibleElement = '0, 1' %}
            {% for field in referenceType.fields %}
                
                {% set translated =  translated ~ ',' ~ field.labels|trans_choose %}
                {% if field.listable %}
                    {% set displayed =  displayed ~ ',attributes.' ~ field.fieldId ~ '.value' %}
                    {% set visibleElement = visibleElement ~ ', ' ~ (loop.index + 1) %}
                {% endif %}
            {% endfor %}
            <a
                id="nav-references_{{referenceType.referenceTypeId}}"
                href="#references_{{referenceType.referenceTypeId}}/list"
                data-url="{{ path('open_orchestra_api_reference_list', {'reference_type': referenceType.referenceTypeId}) }}"
                data-displayed-elements="{{ displayed }}"
                data-translated-header="{{ translated }}"
                data-visible-elements="{{ visibleElement }}"
            >
                {{ referenceType.names| trans_choose }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}
